//Colors
    //Brand
        $brandPrimaryColor:#F54337;
        $brandSecondaryColor:#37E9F5;
        $brandThirdColor:#6B0A05;
    //Neutral
        $neutralDarkColor:#000000;
        $neutralDarkGrayColor:#282828;
        $neutralLightGrayColor:#F2F2F2;
        $neutralLightColor:#ffffff;
    //Status
        $successColor:#8DC640;
        $warningColor:#FBD43C;
        $focusColor:#F60165;
        $dangerColor:#FF0000;
        $infoColor:#2AC4CA;
    //Linear
        $linearPS: linear-gradient(180deg, rgb(245,67,55) 0%, rgb(188,16,4) 100%);
        $linearSP: linear-gradient(0deg, rgb(188,16,4) 0%, rgb(247,67,55) 100%);