//Typography

    //@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);  
    //$primaryFont:'Roboto';
    $primaryFont:  Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
    @mixin H1Font{
        font-size:96px;
        font-style:normal;
        font-weight:700;
        font-family: $primaryFont;
    }
    @mixin H2Font{
        font-size:60px;
        font-style:normal;
        font-weight:700;
        font-family: $primaryFont;
    }
    @mixin H3Font{
        font-size:60px;
        font-style:normal;
        font-weight:700;
        font-family: $primaryFont;
    }
    @mixin H4Font{
        font-size:32px;
        font-style:normal;
        font-weight:700;
        font-family: $primaryFont;
    }
    @mixin H5Font{
        font-size:24px;
        font-style:normal;
        font-weight:700;
        font-family: $primaryFont;
    }
    @mixin H6Font{
        font-size:20px;
        font-style:normal;
        font-weight:700;
        font-family: $primaryFont;
    }
    @mixin BodyFont{
        font-size:16px;
        font-style:normal;
        font-weight:400;
        font-family: $primaryFont;
    }
    @mixin CaptionFont{
        font-size:14px;
        font-style:normal;
        font-weight:700;
        font-family: $primaryFont;
    }
    @mixin SmallFont{
        font-size:12px;
        font-style:normal;
        font-weight:400;
        font-family: $primaryFont;
    }
    @mixin ButtonFont{
        font-size:12px;
        font-style:normal;
        font-weight:700;
        text-transform:uppercase;
        font-family: $primaryFont;
    }

//Blocks

    @mixin blockHeaderAtt{
        width: 100%;
        margin-bottom: .5rem;
        display: flex;
        justify-content: center;
        @include H5Font;  
        color: $brandThirdColor;
    }
    
    @mixin TriviaQuestion{
        color: $neutralLightColor;
        padding: .25rem .25rem .25rem .25rem;
        @include H6Font;
        display:flex; 
        align-items:center;
        justify-content: center;
        height: 8rem;
        text-align: justify;
    }

    @mixin TriviaScore{
        background: $dangerColor;
        border:2px solid $brandThirdColor;
        color: $neutralLightColor;
        text-align: justify;
        display:flex; 
        align-items:center;
        justify-content: center;
        height: 4rem;
        margin-top: .25rem;
        border-radius: 1rem;
        @include H5Font;
    }

    @mixin TriviaAnswer{
        background: $brandSecondaryColor;
        border:2px solid $brandThirdColor;
        color: $neutralLightColor;
        text-align: justify;
        display:flex; 
        align-items:center;
        justify-content: center;
        height: 4rem;
        margin-top: .25rem;
        border-radius: 1rem;
        @include H5Font;
        &:hover{
            background: $focusColor;
            border:2px solid $brandSecondaryColor;
        }
    }