@import '../styles/BrandingColors';

.login{
    background-color: $neutralLightGrayColor;
}

.login__container{
    border: 1px solid $neutralLightGrayColor;
    background-color: $neutralLightColor;
}

.login__button{
    background-color: $brandPrimaryColor;
    color:$neutralLightColor;
    border: none;
    &:hover {
        color:$neutralLightColor;
        background-color: $brandSecondaryColor;
    }
}